# Port lokal (opsional untuk dev)
PORT=8787

# Bahasa default (ISO 639-1 / 639-2 format, e.g. "id,en" atau "ind,eng")
DEFAULT_LANGUAGES=id,en

# SubDL API Key (Dapatkan gratis di https://subdl.com/)
SUBDL_API_KEY=

# OpenSubtitles v3 API Key & Credentials (Dapatkan di https://www.opensubtitles.com/en/consumers)
OPENSUBTITLES_API_KEY=
OPENSUBTITLES_USERNAME=
OPENSUBTITLES_PASSWORD=

# Subsource Token (Opsional jika diperlukan)
SUBSOURCE_TOKEN=
